body {
	font-family: Helvetica, Arial, sans-serif;
}

.wrap {
	width: 200px;
	margin: 0 auto;
}

#the-button {
	position: relative;
	left: 0;
	top: 12px;
	
	width: 180px;
	height: 80px;

	margin: 50px auto 10px;

	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 100px;
	
	text-align: center;
	
	border: 10px solid rgb(105,4,13);
	border-radius: 10px;
	
	-webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);
	
	cursor: pointer;
	
	transition: box-shadow 150ms;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#the-button:active {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

#the-button .inner {
	position: relative;
	left: -10px;
	top: -20px;
	
	width: 194px;
	height: 94px;

	border: 3px solid rgb(155,6,24);
	border-radius: 10px;
	
	transition: top 50ms;
	
	background: rgb(181,7,22);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,7,22,1)), color-stop(100%,rgba(194,7,30,1)));
	background: -moz-linear-gradient(top, rgba(181,7,22,1) 0%, rgba(194,7,30,1) 100%);
	background: -webkit-linear-gradient(top, rgba(181,7,22,1) 0%,rgba(194,7,30,1) 100%);
	background: -o-linear-gradient(top, rgba(181,7,22,1) 0%,rgba(194,7,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(181,7,22,1) 0%,rgba(194,7,30,1) 100%);
	background: linear-gradient(to bottom, rgba(181,7,22,1) 0%,rgba(194,7,30,1) 100%);
}
#the-button:active .inner {
	top: -10px;
}

h2 {
	display: none;
	font-size: 21px;
	width: 200px;
	margin: 42px auto 12px;
}

#list-tasks {
	margin: 0 auto;
	padding: 0;
	
	width: 200px;
}

#list-tasks li {
	list-style: none;
}

#list-tasks input[type="text"] {
	display: inline-block;
	vertical-align: bottom;
	width: 150px;
	
	padding: .5em .6em;
	border: 1px solid #ccc;
	font-size: .8em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-font-smoothing: antialiased;
}
#list-tasks input[type="text"]:focus {
	outline: 0;
	outline: thin dotted 9;
	border-color: #129FEA;
}

#list-tasks input[type="submit"] {
	display: none;
}
#list-tasks .okay {
	font-size: 24px;
	height: 31px;
	width: 31px;
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
	
	transition: color 150ms;
}
#list-tasks .okay.done {
	color: #07b530;
}

#button-finish {
	width: 80px;
	height: 30px;
	margin: 0 auto;
	background: #07B530;
	text-align: center;
	
	line-height: 30px;
	font-weight: 700;
	color: #FFFFFF;
	border-radius: 8px;
	cursor: pointer;
}

#records {
	display: none;
	border-collapse: collapse;
	border: 1px solid #cccccc;
	line-height: 20px;
	font-size: 14px;
	margin-top: 40px;
}

#records th, #records td {
	padding: 6px 12px;
}

#records thead th {
	text-align: left;
	background: #dfdfdf;
	border-left: 1px solid #cccccc;
	vertical-align: bottom;
}
#records thead th:first-child {
	border-left: none;
}

#records tbody td {
	border-left: 1px solid #cccccc;
	vertical-align: top;
}

#records tbody tr.odd td {
	background: #f3f3f3;
}

#bg-popups {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.25);
}

#popups > div {
	position: fixed;
	z-index: 1001;
	background: rgba(255, 255, 255, .9);
	
	width: 160px;
	padding: 20px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	left: 50%;
	top: 50%;
	margin-left: -100px;
}
#popups > div .close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 18px;
	background: #efefef;
	text-align: center;
	cursor: pointer;
	color: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#popups > div .close:hover {
	background: #DFDFDF;
}

#messages > div {
	position: fixed;
	z-index: 100;
	background: rgba(255, 255, 255, .9);
	
	width: 180px;
	padding: 10px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	left: 50%;
	top: 10px;
	margin-left: -100px;
	cursor: pointer;
}
